**
!LICENSE
!pyproject.toml
!uv.lock
!manage.py
!gunicorn.conf.py
!config/
!config/**
!modem/
!modem/**
!templates/
!templates/**
!static/
!static/**
**/__pycache__
**/*.pyc
!docker/
!docker/entrypoint.sh
